MorePreFTLSituations/common/situations/99_README_SITUATIONS.txt

PsionicLeaderTraits/common/traits/000_documentation_leader_traits.txt

Espionage+/common/espionage_operation_types/example.txt

00_useful